@charset "UTF-8";
/* CSS Document */


#main {
	margin-top:75px;
	margin-left:75px;
	text-align:left;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:30px;
	text-decoration:bold;
}


label{
}

input, textarea {
  font    : .9em/1.5em "handwriting", sans-serif;
  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;
  background: none;
}

.button{
	background-color:black;
	border:none;
	color:white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	display: inline-block;
	padding:5px;
	border-radius:3px;
}