@charset "UTF-8";
/* CSS Document */

a {
	text-decoration:none;
	font-size:70px;
	color:black;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:visited{
	color:black;
}
a:active{
	color:black;
}
a:hover{
	color:black;
}

.wrapper{
	  width: 50%;
  margin: 0 auto;
	margin-top:100px;
}
.image{	
	position:fixed;	
	text-align:center;
	z-index:1;
	 width: 50%;
  margin: 0 auto;
}
#counter{
  position: relative;
  text-align:center;
  z-index:2;
  top:200px;
  margin: 0 auto;
	
}