@charset "UTF-8";
/* CSS Document */

a {
	text-decoration:none;
	margin-top:75px;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:95px;
	line-height:90px;
	color:black;
}
a:visited{
	color:black;
}
a:active{
	color:black;
}
a:hover{
	color:black;
}

#welcome {
	margin-top:75px;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:95px;
	line-height:90px;
}