@charset "UTF-8";
/* CSS Document */

a {
	text-decoration:none;
	font-size:100px;
	color:black;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:visited{
	color:black;
}
a:active{
	color:black;
}
a:hover{
	color:black;
}

#main_wrapper{
	top:200px;
}

#main_content{
    background-color: #ffffff;
	background: url("TicketNumberDrawing.png");
	background-repeat: no-repeat;
    height: 500px;
    width: 800px;
	margin: auto;
	padding-top:100px;
	text-align:center;
}

#hitcounter{
	margin-top:150px;
	margin-left:80px;
	text-align:center;
}