@charset "UTF-8";
/* CSS Document */

a {
	text-decoration:none;
	font-size:70px;
	color:black;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:visited{
	color:black;
}
a:active{
	color:black;
}
a:hover{
	color:black;
}

.wrapper{
	 position: relative;
}
.image{	
	text-align:center;
	z-index:1;
}
#counter{
  position: absolute;
  text-align:center;
  z-index:2;
  top:100px;
	
}